body{
  background-color: #212629;
  font-family: 'Kanit';
}
.title__header{
  color: #babbbc;
  text-align: center;
  padding: 15px 0px;
}
.title__header h2{
  margin: 0;
  padding: 0;
}
header{
  background-color: #039a71;
}

main{
  display: flex;
  flex-direction: column;
}
main p{
  color: #babbbc;
}

.lblNotificacion{
  display: block;
  color: #babbbc;
}